/* ==========================================================================
Main page styles
========================================================================== */

.nowar {
  display: flex;
  width: 50%;
  height: 200px;
  background: url('../../../content/images/ihelp.png') no-repeat center top;
  background-size: contain;
}
